
.col-sm-3{
    background-color:lavenderblush;
}

.card-img-top{
    width:100%;
}
#myc{
    width: 100%;
    margin-left: 0%;
    padding-left: 5%;
    
}
.col-sm-8{
    background-color:lavenderblush;
}
.list-group-item{
    background-color:lavenderblush;
}
.table{
    background-color:lavenderblush;
}
#contact{
    background-color:lavenderblush;
}
#mycon{
    padding: 2%;
}