
<!DOCTYPE html>

    {% extends "basic_app/base.html" %}
        {% block body_block %} 
        
        <br>
        <div class="container">
            
            <ul class="list-group">
              <li class="list-group-item active"><h4>Education</h4> </li>
              <li class="list-group-item"><h4>Business Adminstration</h4>  managment information system</li>
              <li class="list-group-item"><h4>petrolium</h4>  gas and oil institute</li>
            </ul>
          </div>
        <div class="container">
            
            <ul class="list-group">
              <li class="list-group-item active"><h4>Hobbies</li>
              <li class="list-group-item"><h4>Mathmatic</h4>solving any problem in math when I see it</li>
              <li class="list-group-item"> <h4>Discovering</h4>  of the original and genuine characteristic of the places, tastes and people. <br> Together with this activity goes my interest in the learning of foreign languages,<br> history in particular and    
                One of the most beautiful places I've visited were the Nordic countries with their attitude to the nature,<br> sport, social responsibility and family feelings.     
              </li>
              <li class="list-group-item"><h4>Discovering</h4>  of the original and genuine characteristic of the places, tastes and people. <br> Together with this activity goes my interest in the learning of foreign languages,<br> history in particular and    
              One of the most beautiful places I've visited were the Nordic countries with their attitude to the nature,<br> sport, social responsibility and family feelings.
              </li>
              <li class="list-group-item"><p><h4>Watching Movies </h4>Especially Actions</p></li>
            </ul>
          </div>
        
        
       
        {% endblock %}   