<!DOCTYPE html>

    {% extends "basic_app/base.html" %}
        {% block body_block %}    

          
        
        <div class="container" id="contact">
            <h1>Contact</h1>
            
            <div class="w-25 bg-dark text-white" id="mycon"><h3> Ahmad Barho<br> </h3></div><br>
            <div class="w-50 bg-secondary text-white" id="mycon"><h4>Phone :</h4> <h5>957564763</h5></div><br>
            <div class="w-75 bg-secondary text-white" id="mycon"><h4>Email :</h4><h5>ahmad@gmail.com</div><br>
            <div class="w-85 bg-secondary text-white" id="mycon"><h4>Adress :</h4><h5>Bredang alle 48 <br> Stockhom Swedan</h5></div><br>
            
          </div>
        

        {% endblock %}  