<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>WELCOME TO RELATIVE URL TEMPLATES</h1>  
    <a href="{% url 'index' %}">LINK TO HOME INDEX</a><br>
    <a href="{% url 'basic_app:about' %}">THE ABOUT PAGE</a><br>
    <a href="{% url 'basic_app:skills' %}">THE SKILLS PAGE</a><br>
    <a href="{% url 'basic_app:projects' %}">THE PROJECTS PAGE</a><br>
    <a href="{% url 'basic_app:contact' %}">THE CONTACT PAGE</a><br>
    <a href="{% url 'admin:index' %}">LINK TO ADMIN</a>
    
</body>
</html>