<!DOCTYPE html>

    {% extends "basic_app/base.html" %}
        {% block body_block %}    
        
        <div class="container">
        <h1>WELCOME TO SKILLS</h1>             
            <ul class="list-group">
              <li class="list-group-item active"><h4>Skills</h4> </li>
              <li class="list-group-item"><h4>Programming Skills</h4> The skillspages.com website provides resources to support youth employment programs in Massachusetts. 

                The second resource is http://skillspages.com/blog, the Skills Pages Youth Employment Blog, which provides a series of articles about career skills, the job market, summer jobs programs and other topics.</li>
                <li class="list-group-item"><h4>Education Skills</h4> The first is http://skillspages.com/masswbl, which is a set of resource pages with both technical and programmatic information about the Online Work-Based
                     Learning Database and the Massachusetts Work-Based Learning Plan. </li>
                <li class="list-group-item"><h4>Work Skills</h4> The resource pages also provide general information about program design, employer outreach and youth development that is useful to any youth employment and career development program,
                    in Massachusetts or anywhere. These resource pages also include a professional development outline that guide youth
                    program staff and others through a variety of key professional development topics.</li>
            </ul><br>

            <h2>Languages</h2>
                      
            <table class="table">
              <thead>
                <tr>
                  <th>Arabic</th>
                  <th>English</th>
                  <th>Swedish</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Native </td>
                  <td>Fluent</td>
                  <td>good</td>
                </tr>
              </tbody>
            </table>
          </div>

   
        

        {% endblock %}  